* {
  box-sizing: border-box;
  font-family: "Noto Sans KR";
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  padding: 3%;
}

.places {
  display: flex;
  flex-direction: column;
}

.place {
  margin-top: 3%;
}

.place span {
  color: black;
}

.place a {
  text-decoration: none;
}
